*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(to right, #446482, #212d39)
}

#clock{
    font-size: calc(25px + 1vw);
    width: 640px;
    margin-left: 8%;
    line-height: 25px;
    color: #fff;
}

.selfie{
    width: 100%;
    position: relative;
    float: right;
}
.kali img{
    width: 7%;
    margin-top: 7%;
    margin-left: 55%;
}
.macos img{
    width: 7%;
    margin-top: 2%;
    margin-left: 55%;
}
.android img{
    width: 7%;
    margin-top: 2%;
    margin-left: 55%;
}
.selfie img{
    width: 24%;
    margin-top: -30%;
    margin-left: 72%;
}

.banner{
    width: 80%;
    height: 70%;
    margin-top: 5%;
    margin-left: 6%;
    position: absolute;
    color: white;
}

.app-text{
    width: 28%;
    float: left;
}
.app-text h1{
    font-size: 43px;
    width: 640px;
    position: relative;
    margin-left: 10%;
}

.app-text p{
    font-size: 15px;
    width: 150%;
    margin-left: 10%;
    margin-top: 5%;
    line-height: 2vw;
    color: rgb(224, 224, 224);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 13vh;
    background-image: linear-gradient(to right, #344556, #212F3D);
    font-family: 'Poppins', sans-serif;
}

.logo{
    letter-spacing: 6px;
    color: white;
    margin-left: 13%;
    margin-top: 0.7%;
    width: 100%;
}
.nav-links{
    display: flex;
    width: 100%;
    margin-left: 5%;
    justify-content: space-around;
    padding: none;
    float: right;
}

.nav-links li{
    list-style: none;
    float: right;
}

.nav-links a{
    float: right;
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    margin-right: 10%;
    font-weight: bold;
    border: none;
    padding: 5px 12px;
    border-radius: 50px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .3s;

.timecontainer{
    width: 100%;
    float: left;
}

.landing {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}

@media screen and (max-width: 900px) {
    body {
        display: none;
    }
}
@media screen and (max-width: 900px) {
    .line {
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }

    .hamburger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50px;
        transform: translate(-5%, -50%);
    }
}